h1 {
    text-align: center;
    color: #424242;
    font-size: 50px;
    padding: 30px;
    padding-top:40px;
    font-family:   ;
}


.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    padding-top: 50px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;

}

.container:hover .overlay {
    opacity: .75;
}

.text {
    color: #424242;
    font-size: 23px;
    font-family: Calibri;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; 
}

a:hover {
    text-decoration:none;
    font-weight:none;
    color: #0097A7;
}

strong {
    font-weight: bold;
    color: #0097A7;
}

.rowbottom {
    padding-bottom: 20px;
}
