h1, h2 {
    text-align: center;
    color: #424242;
    font-size: 50px;
    padding: 30px;
    padding-top:40px;
}

.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    padding-top: 50px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {

  size: 130%;
}

.description_section{
 padding-bottom: 5%;
}

.header_image{
  width: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
}

.container:hover .overlay {
    opacity: .75;
}

.text {
    color: #424242;
    font-size: 23px;
    font-family: Calibri;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.about {
    color: #424242;
    font-size: 23px;
    font-family: Calibri;
    text-align: center;
}

.about a{
  color: black;
}

a:hover {
    text-decoration:none;
    font-weight:none;
    color: #0097A7;
}

h2:hover {
    color: #0097A7;
}

strong {
    font-weight: bold;
    color: #0097A7;
}

.rowbottom{
    padding-bottom: 30px;
}

a {
  color: #757575;
}

@media only screen and (max-width: 600px) {
  h1, h2 {
      text-align: center;
      color: #424242;
      font-size: 200%;
      padding: 7%;
      padding-top:10%;
  }

  .container {
      position: relative;
      width: 80%;
  }

  .image {
      display: block;
      padding-top: 50px;
      width: 90%;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .overlay {
      height: 100%;
      width: 100%;
      opacity: 1;
      background-color: rgb(0,0,0,0);
  }

  .container:hover .overlay {
      opacity: 1;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #424242;
    font-size: 130%;
  }

  a:hover {
      text-decoration:none;
      font-weight:none;
      color: #0097A7;
  }

  h2:hover {
      color: #0097A7;
  }

  .art_pages .text{
    display: none;
  }

  .about {
      font-size: 130%;
  }

}
